/* Retirando o margin e padding a página */
* {
  margin: 0;
  padding: 0;
}
/* Definindo uma fonte global */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
/* Largura máxmima da página */
.container {
  max-width: 1000px;
  margin: auto;
}
/* Alinhando o cabeçalho */
header {
  background-color: #48c5CE;
  text-align: center;
  color: white;
  padding: 10px;
}
/* Tamanho da fonte do título */
.title {
  font-size: 26px;
}
/* Tamnaho, posição e corde fundo do formulário */
.formContainer {
  max-width: 230px;
  background-color: #FFFFFFBB;
  padding: 20px;
  float: right;
}
/* Tamanho da fonte do h2 */
h2 {
  font-size: 16px;
}
/* Margem dos inputs */
.mb {
  margin-bottom: 15px;
}
/* Estilo dos */
input, select {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
}
/* Estilo do input submit */
input[type="submit"] {
  color: white;
  background-color: #48c5CE;
  font-weight: bold;
}
/* Estilo da seta do select */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url(../assets/arrow.jpg);
  background-repeat: no-repeat;

  background-position: calc(100% - 10px) center;

}
/* Padding e backgroundo da section */
section {
  padding: 20px;
  background-image: url(../assets/people.jpg);
  background-size: cover;
  overflow: hidden;
}
/* Rodapé da página */
footer {
  background-color: #202121;
  padding: 40px;
  text-align: center;
}
/* Largura da imagem */
.picture {
  width: 160px;
}
/* Posição e tamanho da fonte da descição do footer */
.description {
  color: white;
  display: inline-block;
  text-align: left;
  max-width: 40%;
  margin-left: 40px;
}
/* Margem do footer */
.description p, .description h3 {
  margin-bottom: 20px;
}
/* Tamanho da fonte do h3 */
.description h3 {
  font-size: 24px;
}